# Copy this file to .env for local development.
# Never commit .env or access tokens.
SERVER_PORT=8080
JWT_ISSUER_URI=https://pedidos360auth.ciamlogin.com/92aabe28-d724-4ac3-a20c-45088143bf29/v2.0/
JWT_JWK_SET_URI=https://pedidos360auth.ciamlogin.com/92aabe28-d724-4ac3-a20c-45088143bf29/discovery/v2.0/keys


